/* Google Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* --------------------------------- General */

body {
    font-family: 'Poppins, sans-serif;

}

.card-title,
.card-text {
    color: #003055;
}

/* --------------------------------- Header */

/* --------------------------------- Nav */

.navbar {
    background-color: #36686E;
}

.navbar-brand,
.nav-link {
    color: #d5e8e6;
}

.navbar-brand,
.nav-item,
.nav-link {
    font-size: 24px;
}

.navbar-item:hover {
    cursor: pointer;
}

/* --------------------------------- Hero Container */

.container-wrapper {
    background-color: #d5e8e6;
}

.hero-section {
    padding-bottom: 30px;
}

.hero-container {
    height: 100vh;
    color: #003055;
    background: url("../assets/images/job-savelsberg-XdcPw9bYOw0-unsplash.webp") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-bottom: 20px;
}

.btn-primary {
    background-color: #d5e8e6;
    border: #d5e8e6;
    padding: 10px;
    font-size: 26px;
    color: #003055;
}

.btn-primary:hover {
    background-color: #003055;
    color: #d5e8e6;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}


/* --------------------------------- Info cards */

.card {
    margin-bottom: 20px;
}

/* --------------------------------- World Mental Health Day section */
.wmhd-container {
    margin-top: 10px;
}

.wmhd-logo {
    width: 500px;
}

.wmhd-text {
    background-color: #36686E;
    color: #d5e8e6;

}

/* --------------------------------- External Resource section */

.samaritans-logo {
    padding-top: 50px;
    padding-bottom: 50px;
    height: 200px;
}

.nhs-logo {
    padding-top: 20px;
    height: 200px;
}

/* --------------------------------- Quotes */

.quote-container {
    height: 310px;
    padding: 30px;
    color: #d5e8e6;
    background-color: #36686E;
}

.carousel-inner {
    padding-top: 35px;
    text-align: center;
}

.carousel-item {
    font-size: 24px;
}

.blockquote-footer {
    color: #fff;
    font-style: italic;
    font-size: 16px;
}

/* --------------------------------- Footer */

footer {
    background-color: #36686E;
    margin-top: 30px;
    padding: 20px;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    color: #d5e8e6
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #d5e8e6;
}